<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petya.lesson97sevicebindserver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <service
            android:name="com.example.petya.lesson97sevicebindserver.MyService">
            <intent-filter>
                <action android:name="com.example.petya.lesson97sevicebindserver.MyService"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>f
        </service>

    </application>
</manifest>
